.Rproj.user
*.Rhistory
*.RData
*.Rdata
*.rdata
*.rData
.Ruserdata
BF/honnor/__pycache__/Network.cpython-310.pyc
/.luarc.json
__pycache__
BayesForge.egg-info/
dist/
.codegpt
.vscode/
*.pkl
BFJ/
BFR/
BFJ/
BFR/
WIP/
.CondaPkg/
.venv/
BayesForge.egg-info/
mcp_server.log
panama1/
BF/Test/Capture-Recapture (WIP)/cr-in-stan/

Test/GGMM (WIP)/graphical_mixed_model/
*.npy
.claude/
Test/Network/Network edges/stan_output/*.csv
*.egg-info

BayesForge.egg-info/
Test/3.Network/Network edges/results/count_full_directed_zi/count_full_directed_zi.svg
