/*-- scss:defaults --*/

// The left hand sidebar
$grid-sidebar-width: 250px;

// The main body
$grid-body-width: 2000px;

// The right hand margin bar
$grid-margin-width: 250px;

// The gutter that appears between the above columns
$grid-column-gutter-width: 2em;